.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 80vw;
    transform: translate(-50%, -50%);
    padding: 5px 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow-x: auto;
    overflow-y: auto;
    max-height: 80vh;
}

.popup h3 {
    margin-top: 0;
}

.popup .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.btn {
    padding: 5px 15px;
    background-color: #169BD5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.action-buttons {
    display: flex;
    justify-content: space-between;
}

.action-buttons a {
    margin-right: 10px; /* 调整按钮之间的右侧间距 */
}

.title {
    padding: 10px;
    display: inline-flex;
    justify-content: space-between;
}
.title div {
    width: fit-content;
    margin-right: 40px; /* 调整按钮之间的右侧间距 */
}
.title div h3 {
    margin: 1px;
}

.submit-container {
    display: flex;
    flex-direction: column; /* 纵向排列元素 */
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
    padding: 20px;
}

.text-input {
    width: 180px;
}
.text-input select {
    width: 100%;
}
th, td {
    padding: 8px;
}


table {
    white-space: nowrap;
}
img{
    max-width: 100px;
    max-height: 100px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
